{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "doom_plasmadeath"
    },
    {
      "action" : "sound",
      "options" : [ "/plasmarifle/death.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 1.5,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 0
    }
  ]
}
