{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "type" : "doom_bullet",
      "angle": -5
    },
    {
      "action" : "projectile",
      "type" : "doom_bullet",
      "angle": -3.333
    },
    {
      "action" : "projectile",
      "type" : "doom_bullet",
      "angle": -1.667
    },
    {
      "action" : "projectile",
      "type" : "doom_bullet",
      "angle": 0
    },
    {
      "action" : "projectile",
      "type" : "doom_bullet",
      "angle": 1.667
    },
    {
      "action" : "projectile",
      "type" : "doom_bullet",
      "angle": 3.333
    },
    {
      "action" : "projectile",
      "type" : "doom_bullet",
      "angle": 5
    }
  ]
}

