{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor": 1,
      "type" : "doom_rocketboom"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor": 1,
      "type" : "doom_rocketboom2"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor": 1,
      "type" : "doom_rocketboom3"
    },
    {
      "action" : "projectile",
      "inheritDamageFactor": 1,
      "type" : "doom_rocketboom4"
    },
    {
      "action" : "sound",
      "options" : [ "/rocketlauncher/explode.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 5.5,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 4,
      "delaySteps" : 0
    },

    {
      "action" : "explosion",
      "foregroundRadius" : 4.5,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 4,
      "delaySteps" : 0
    },

    {
      "action" : "explosion",
      "foregroundRadius" : 3.5,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 4,
      "delaySteps" : 0
    },

    {
      "action" : "explosion",
      "foregroundRadius" : 2.5,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 4,
      "delaySteps" : 0
    },

    {
      "action" : "explosion",
      "foregroundRadius" : 1.5,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 4,
      "delaySteps" : 0
    }

  ]
}
